<div class="outer">
  <div class="inner">
    <div class="heading">
      <h3>LOGIN</h3>
    </div>
    <hr>
    <div class="body">
      <label class="form-label">Email address</label>
      <input type="email" class="form-control" placeholder="name@example.com">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" placeholder="please enter your password">
    </div>
      <div class="d-grid mt-4">
        <button class="btn btn-success" type="button">Sign-In</button>
      </div>
      <div class="have-acc">
        <p>Create an account? <a routerLink="/sign-up">Signup Here</a></p>
      </div>
    </div>
</div>
